java-bindings/src/main/xsd/niem/niem-core/3.0/niem-core.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<xs:schema targetNamespace="http://release.niem.gov/niem/niem-core/3.0/" version="1" xsi:schemaLocation="http://release.niem.gov/niem/appinfo/3.0/ ../../appinfo/3.0/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../../conformanceTargets/3.0/conformanceTargets.xsd" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ReferenceSchemaDocument" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/3.0/" xmlns:structures="http://release.niem.gov/niem/structures/3.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appinfo="http://release.niem.gov/niem/appinfo/3.0/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:nc="http://release.niem.gov/niem/niem-core/3.0/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
  </xs:annotation>
  <xs:import schemaLocation="../../proxy/xsd/3.0/xs.xsd" namespace="http://release.niem.gov/niem/proxy/xsd/3.0/"/>
  <xs:import schemaLocation="../../structures/3.0/structures.xsd" namespace="http://release.niem.gov/niem/structures/3.0/"/>
  <xs:complexType name="DateType">
    <xs:annotation>
      <xs:documentation>A data type for a calendar date.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificationType">
    <xs:annotation>
      <xs:documentation>A data type for a representation of an identity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:IdentificationCategoryDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:IdentificationEffectiveDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:IdentificationExpirationDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:IdentificationSourceText" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a name by which a person is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:ProperNameTextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>A data type for a combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonGivenName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonSurName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonMaidenName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonFullName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonOfficialGivenName" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonSurNamePrefixText" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>A data type for a human being.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonAccentText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonAgeDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="5"/>
          <xs:element ref="nc:PersonComplexionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonDeathDate" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonDisguiseDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonEducationLevelText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonHandednessText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonHeightDescriptionText" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="nc:PersonSSNIdentification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProperNameTextType">
    <xs:annotation>
      <xs:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="nc:TextType"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:annotation>
      <xs:documentation>A data type for a character string.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="niem-xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="DateRepresentation" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a representation of a date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DateTime" type="niem-xs:dateTime" substitutionGroup="nc:DateRepresentation">
    <xs:annotation>
      <xs:documentation>A full date and time.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationCategoryDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a kind of identification.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationEffectiveDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date an identification takes effect.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationExpirationDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date after which an identification is no longer valid.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationID" type="niem-xs:string" nillable="true">
    <xs:annotation>
      <xs:documentation>An identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="IdentificationSourceText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person, organization, or locale which issues an identification.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Person" type="nc:PersonType">
    <xs:annotation>
      <xs:documentation>A human being.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAccentText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A manner of pronunciation; a way of pronouncing words that may indicate the place of origin or social background of the speaker.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonAgeDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A general description of the age of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonBirthDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person was born.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonComplexionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An appearance or condition of the skin of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDeathDate" type="nc:DateType" nillable="true">
    <xs:annotation>
      <xs:documentation>A date a person died or was declared legally dead.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonDisguiseDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of something a person wears to conceal or mislead others as to the true appearance or identity of that person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEducationLevelText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A highest level of education a person has obtained.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonFullName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A complete name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A first name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHandedness" abstract="true">
    <xs:annotation>
      <xs:documentation>A data concept for a hand with which a person is more adept using.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHandednessText" type="nc:TextType" substitutionGroup="nc:PersonHandedness" nillable="true">
    <xs:annotation>
      <xs:documentation>A hand with which a person is more adept using.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonHeightDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of the height of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMaidenName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>An original last name or surname of a person before changed by marriage.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A middle name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonName" type="nc:PersonNameType" nillable="true">
    <xs:annotation>
      <xs:documentation>A combination of names and/or titles by which a person is known.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonOfficialGivenName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A name, out of possibly multiple given names, that a person selects to use as his or her official given name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSSNIdentification" type="nc:IdentificationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A unique identification reference to a living person; assigned by the United States Social Security Administration.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A last name or family name of a person.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonSurNamePrefixText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A prefix that precedes this person's family name such as Van, Von.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
